header{
  left:0;
  right:0;
  top: 0;
  height: 70px;
  background-color: rgb(27, 27, 27);
  margin: 0;
  position: sticky;
  flex-direction: row;
  justify-content: space-between;
  padding: 0 80px 0 55px;
  display: flex;
  box-shadow: 0 7px 20px rgba(0,0,0,0.3);
}

.header a {
  text-decoration: none;
  color: rgb(204, 202, 202);  
}

.left {
  display: flex;
  align-items: center;
}

.logo{
  font-size: 43px;
  font-family:'Playfair Display', serif;
}

.navs{
  display: flex;
  align-items: center;
  gap: 50px;
  flex-direction: row;
  flex-shrink: 0;
}

.nav-link{
  font-size: 20px;
  font-weight: 250;
  transition: color 0.15s;
}
.nav-link:hover{
  text-decoration: overline;
  color: rgb(161, 59, 59);

}
.nav-link.active{
  text-decoration: overline;
  color: rgb(161, 59, 59);
}
