html {
  scroll-behavior: smooth;
}
body{
  margin: 0;
  padding: 0;
  font-family:'Helvetica';
}
p{
  margin-top: 0;
}
.front-image-area{
  margin-top:0px;
  height: 800px;
  width: 100%;
  background-image: linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.4)),url(../photos/front_photo.jpeg);
  background-attachment: fixed;
  background-size:cover;
  background-position: center;
  background-repeat: no-repeat;
}
.title-text{
  color: rgb(204, 202, 202);
  display: flex;
  width: 40%;
  height: 100%;
  flex-direction:column;
  justify-content: center;
  align-items: flex-start;
  text-align: left;
  padding-left: 10%;
}
.title-sushi{
  font-size:90px;
  font-weight: lighter;
  white-space: nowrap;
}
.title-desc{
  font-size: 28px;
  font-weight: lighter;
  white-space: nowrap;
}
.title-menu-button{
  margin-top: 19px;
  padding: 17px 18px;
  border-radius: 30px;
  color: rgb(204, 202, 202);
  display: inline-block;
  text-decoration: none;
  background-color: rgb(117, 34, 34);
  font-size: 15px;
  box-shadow: 0 3px 5px rgba(0,0,0, 0.3);
  transition: background-color 0.15s;
}

.title-menu-button:hover{
  background-color: rgb(103, 32, 32);
}
.title-menu-button:active{
  background-color: rgb(90, 26, 26);
}


/* DUO SECTION */
.duo-area{
  padding-top:30px;
  height: 770px;
  display: flex;
  background-color: rgb(204, 202, 202);
  align-items: center;
  justify-content: center;
  overflow: hidden;
  
}
.duo-box{
  display: flex;
  width: 90%;
  height: 90%;
  min-width: 950px;
  flex: 1fr 1fr;
  justify-content: space-between;
}
.duo-item{
  background-color: rgb(221, 221, 221);
  height: 100%;
  width: 48%;
  display: flex;
  flex-direction: column; 
  flex: 2fr 1fr;
}
.duo-pic1 {
  width: 100%;
  margin: 0;
  height: 440px;
  background: 
    linear-gradient(rgba(0,0,0,0.2), rgba(0,0,0,0.2)), 
    url("../photos/sushi-cone.jpg") center/cover no-repeat;
}
.duo-pic2 {
  width: 100%;
  margin: 0;
  height: 440px;
  background: 
    linear-gradient(rgba(0,0,0,0.2), rgba(0,0,0,0.2)), 
    url("../photos/sushi-taco.jpg") center/cover no-repeat;
}
.duo-desc{
  margin: 50px 50px;
  height: 260px;
}
.duo-title{
  color: rgb(161, 59, 59);
  font-weight: 400;
  font-size: 35px;
}
.duo-text{
  padding-top:35px;
  padding-bottom: 10px;
  font-size: 17px;
  font-family: helvetica;
  font-weight: lighter;
  line-height: 1.6;
  letter-spacing: 0.3px;
}


/* POPULAR SECITON*/
.popular-area{
  height: 550px;
  display: flex;
  background-color: rgb(204, 202, 202);
  align-items: center;
  justify-content: center;
  overflow: hidden;
}
.popular-box{
  display: flex;
  flex-direction: column;
  width: 90%;
  height: 90%;
  background-color: rgb(221, 221, 221);
  min-width: 950px;
  box-sizing: border-box; 
  border-radius: 2px;
  padding-right:30px;
  padding-left:20px;
}
.popular-title{
  padding-left: 60px;
  padding-top: 30px;
  color: rgb(161, 59, 59);
  font-weight: 400;
  font-size: 32px;
}
.popular-desc{
  display: grid;
  grid-template-columns: 1fr auto;
  margin:10px 20px;
  gap: 10px;
  height: 90%;
}
.popular-foods{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap:30px;
  padding-right: 20px;
}
.popular-item{
  display: grid;
  grid-template-rows: 3fr 1fr;
  height: 90%;
  transition: background-color 0.15s, color 0.15s;
  border-radius: 8px;
}
.popular-item:hover{
  background-color: rgb(208, 208, 208);
  color: rgb(161, 59, 59);
  cursor: pointer;
}
.popular-item:active{
  background-color: rgb(198, 198, 198);
}
.popular-pic{
  object-fit:contain;
  width: 60%;
  aspect-ratio: 1/1;
  justify-self: center;
  align-self: center;
  min-width: 200px;  
  min-height: 200px;
}
.popular-name{
  justify-self: center; 
  align-self: center;
  font-size:18px;
  font-weight: 100;
  padding-top: 35px;
  text-shadow: 0 2px 2px gba(0,0,0,0.3);;
}
.popular-more{
  justify-self: center;
  padding-top: 150px;
  
}
.popular-button{
  font-size: 17px;
  font-weight:100;
  padding:18px 18px;
  border-radius: 30px;
  border: none;
  color:rgb(204, 202, 202);
  background-color:rgb(129, 37, 37);
  box-shadow: 0 3px 5px rgba(0,0,0, 0.3);
  white-space: nowrap;
  font-family: helvetica;
  transition: background-color 0.15s;
}
.popular-button:hover{
  background-color: rgb(114, 35, 35);
  cursor: pointer;
}
.popular-button:active{
  background-color: rgb(90, 26, 26);
  cursor: pointer;
}


/* OPTIONS SECTION */
.option-area{
  height: 450px;
  display: flex;
  background-color: rgb(204, 202, 202);
  align-items: center;
  justify-content: center;
  padding-top:20px;
  padding-bottom: 20px
}
.option-box{
  width: 90%;
  height: 90%;
  display: flex;
  background-color: rgb(204, 202, 202);
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  flex: 1fr 1fr 1fr;
  min-width: 950px;
  
}
.option-item{
  background-color: rgb(221, 221, 221);
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 30%;
  display: flex;
  flex-direction: column;
  min-width: 300px;
  border-radius: 2px;
}
.option-pic{
  width: auto;
  height: 40%;
  justify-self: center;
  align-self: center;
}
.option-name{
  font-size: 20px;
  font-weight: 400;
  padding-top: 60px;
  color: rgb(161, 59, 59);
}
.option-desc{
  font-size: 15px;
  font-weight: 100;
  padding-top: 15px
}


/* ABOUT US SECTION */
.about-area{
  height: 700px;
  background-color: rgb(204, 202, 202);
  display:flex;
  align-items: center;
  justify-content: flex-end;
  padding-top: 30px
}
.about-box{
  position:relative;
  height: 75%;
  width: 85%;
  background-color: rgb(221, 221, 221);
  display: flex;
  min-width: 950px;
}
.about-pic{
  position:absolute;
  top:-90px;
  left:-80px;
  width: 510px;
  height: 130%;
  background: 
    linear-gradient(rgba(0,0,0,0.2), rgba(0,0,0,0.2)), 
    url("../photos/sushi-hand.webp") center/cover no-repeat;
  border-top-left-radius: 255px;
  border-top-right-radius: 255px;
  z-index: 1;
}
.about-desc {
  width: 57.5%;
  height: 100%;
  position: relative;
  left: 470px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 60px;
  box-sizing: border-box; 
  gap: 20px;
  z-index: 2
}
.about-title{
  color: rgb(161, 59, 59);
  font-weight: 400;
  font-size: 35px;
}
.about-text{
  padding-top: 20px;
  font-size: 17px;
  font-family: helvetica;
  font-weight: lighter;
  width: 500px;
  line-height: 1.6;
}


/* REVIEW SECTIONS */
.review-area{
  height: 700px;
  background-color: rgb(204, 202, 202);
  display:flex;
  align-items: center;
  justify-content: flex-start;
  padding-bottom: 30px;
}
.review-box{
  position:relative;
  height: 75%;
  width: 85%;
  background-color: rgb(221, 221, 221);
  display: flex;
  min-width: 950px;
  justify-content: flex-end;
}
.review-pic{
  position:absolute;
  top:-90px;
  right:-80px;
  width: 510px;
  height: 130%;
  background: 
    linear-gradient(rgba(0,0,0,0.2), rgba(0,0,0,0.2)), 
    url("../photos/sushi-dip.jpg") center/cover no-repeat;
  border-top-left-radius: 255px;
  border-top-right-radius: 255px;
  z-index: 1;
}
.review-desc {
  width: 57.5%;
  height: 100%;
  position:absolute;
  right:420px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 60px;
  box-sizing: border-box; 
  z-index: 10;
}
.review-title{
  color: rgb(161, 59, 59);
  font-weight: 400;
  font-size: 35px;
  white-space: nowrap;
  margin-bottom: 20px;
}
.review-quotes{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 500px;
  height: 50%;
  gap: 18px;
  background-color: rgb(221, 221, 221);

}
.review-marks{
  object-fit: contain;
  height: 15%;
  width: auto;
  opacity: 0.6;
}
.review-marks:hover{
  opacity: 0.75;
}
.review-marks:active{
  opacity: 0.85;
}
.review-text{
  padding-top: 20px;
  font-size: 17px;
  font-family: helvetica;
  font-weight: lighter;
  max-width: 400px;
  line-height: 1.6;
  text-align: center;
}
.review-name{
  text-align: left;
  width: 50%;
  font-weight: lighter;
}


/* CONTACT SECITON */
.contact{
  background-color: rgb(27, 27, 27);
  color: rgb(204, 202, 202);
  height: 680px;
  font-family: helvetica;
}
.contact-title{
  padding-top: 80px;
  text-align: center;
  font-size: 50px;
  font-weight: 600;
}
.contact-row{
  display: flex;
  align-items: flex-start;
  justify-content: center;
  gap: 25%;
  flex-wrap: wrap;
}
.contact-boxes{
  margin-top: 70px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  line-height: 15px;
}
.open-text{
  font-weight: bold;
  font-size: 33px;
}
.contact-info{
  margin-top: 25px;
  font-size: 15px;
  font-weight: lighter;
}
.social{
  padding-top: 25px;
  height: 35px;
  width: auto;
}
.back-to-top {
  position: fixed;
  bottom: 25px;
  right: 25px;
  background: rgb(129, 37, 37);
  color: white;
  font-size: 28px;
  text-decoration: none;
  padding: 10px 16px;
  border-radius: 50%;
  box-shadow: 0 2px 6px rgba(0,0,0,0.3);
  transition: background-color 0.3s ease;
}

.back-to-top:hover {
  background-color: rgb(111, 36, 36);
  cursor: pointer;
}

