body{
  margin: 0;
  padding: 0;
  font-family:'Helvetica';
}
p{
  margin-top: 0;
}
.front-image-area{
  margin-top:0px;
  height: 800px;
  width: 100%;
  background-image: linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.4)),url(../photos/front_photo.jpeg);
  background-attachment: fixed;
  background-size:cover;
  background-position: center;
  background-repeat: no-repeat;
}
.title-text{
  color: rgb(204, 202, 202);
  display: flex;
  width: 40%;
  height: 100%;
  flex-direction:column;
  justify-content: center;
  align-items: flex-start;
  text-align: left;
  padding-left: 10%;
}
.title-sushi{
  font-size:100px;
  font-weight: lighter;
  white-space: nowrap;
}
.title-desc{
  font-size: 30px;
  font-weight: lighter;
  white-space: nowrap;
}
.title-menu-button{
  margin-top: 20px;
  padding: 13px 18px;
  background-color: rgb(204, 202, 202);
  display: inline-block;
  text-decoration: none;
  color: rgb(27, 27, 27);
  font-size: 15px;
  transition: background-color 0.15s;
}
.title-menu-button:hover{
  background-color: rgb(164, 164, 164);
}
.title-menu-button:active{
  background-color: rgb(141, 141, 141);
}

/* OPTIONS SECTION */
.option-area{
  height: 550px;
  display: flex;
  background-color: rgb(204, 202, 202);
  align-items: center;
  justify-content: center;
  padding-top: 50px
}
.option-box{
  width: 90%;
  height: 80%;
  display: flex;
  background-color: rgb(204, 202, 202);
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  flex: 1fr 1fr 1fr
}
.option-item{
  background-color: rgb(217, 217, 217);
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 30%;
}

/* POPULAR SECITON*/
.popular-area{
  height: 650px;
  display: flex;
  background-color: rgb(204, 202, 202);
  align-items: center;
  justify-content: center;
  overflow: hidden;
}
.popular-box{
  display: flex;
  flex-direction: column;
  width: 90%;
  height: 80%;
  background-color: rgb(217, 217, 217);
  min-width: 950px;
  box-sizing: border-box; 
  border-radius: 2px;
  padding-right:30px;
  padding-left:20px;
}
.popular-title{
  padding-left: 60px;
  padding-top: 30px;
  color: rgb(27, 27, 27);
  font-weight: 350;
  font-size: 30px;
}
.popular-desc{
  display: grid;
  grid-template-columns: 1fr auto;
  margin:10px 20px;
  gap: 10px;
  height: 90%;
}
.popular-foods{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap:30px;
  padding-right: 20px;
}
.popular-item{
  display: grid;
  grid-template-rows: 3fr 1fr;
  height: 90%;
  transition: background-color 0.2s;
  border-radius: 8px;
}
.popular-item:hover{
  background-color: rgb(208, 208, 208);
  cursor: pointer;
}
.popular-item:active{
  background-color: rgb(198, 198, 198);
}
.popular-pic{
  object-fit:contain;
  width: 60%;
  aspect-ratio: 1/1;
  justify-self: center;
  align-self: center;
  min-width: 200px;  
  min-height: 200px;
}
.popular-name{
  justify-self: center; 
  align-self: center;
  align-self: start;
  font-size: 18px;
  font-weight: 100;
  padding-top: 40px;
  text-shadow: 0 2px 2px gba(0,0,0,0.3);;
}
.popular-more{
  justify-self: center;
  padding-top: 150px;
  
}
.popular-button{
  font-size: 17px;
  font-weight:100;
  padding:18px 18px;
  border-radius: 30px;
  border: none;
  color:rgb(204, 202, 202);
  background-color:rgb(54, 54, 54);
  box-shadow: 0 3px 5px rgba(0,0,0, 0.3);
  white-space: nowrap;
  font-family: helvetica;
  transition: background-color 0.15s;
}
.popular-button:hover{
  background-color: rgb(68, 68, 68);
  cursor: pointer;
}
.popular-button:active{
  background-color: rgb(80, 80, 80);
  cursor: pointer;
}




/* CONTACT SECITON*/
.contact{
  background-color: rgb(27, 27, 27);
  color: rgb(204, 202, 202);
  height: 750px;
}
.contact-title{
  padding-top: 90px;
  text-align: center;
  font-size: 55px;
  font-weight: 650;
}
.contact-row{
  display: flex;
  align-items: flex-start;
  justify-content: center;
  gap: 25%;
  flex-wrap: wrap;
}
.contact-boxes{
  margin-top: 90px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  line-height: 17px;
}
.open-text{
  font-weight: bold;
  font-size: 35px;
}
.contact-info{
  margin-top: 25px;
  font-size: 16px;
  font-weight: lighter;
}
.social{
  padding-top: 25px;
  height: 35px;
  width: auto;
}
